<div class="wrapper">
    <script>var system = true;</script>
    <h1 class="system-section-title">Access Database</h1>

    {{!--<div class="system-sections">
        <div class="system-section">
            <h2 class="system-section__title">Create</h2>
            <form action="/system/insert" method="POST">
                <div class="input">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="input">
                    <label for="filenames">File Names (separate by newline)</label>
                    <textarea name="filenames"></textarea>
                </div>
                <div class="input">
                    <label for="tags">Tags (separate by newline)</label>
                    <textarea name="tags"></textarea>
                </div>
                <div class="input">
                    <label for="collection">Collection</label>
                    <select name="collection">
                        <option value="tracks">Tracks</option>
                        <option value="atmospheres">Atmospheres</option>
                        <option value="oneshots">One-Shots</option>
                    </select>
                </div>
                <button type="submit">Insert</button>
            </form>
        </div>

        <div class="system-section">
            <h2 class="system-section__title">Read</h2>
            <form action="/system/read" method="get">
                <div class="input">
                    <label for="collection">Collection</label>
                    <select name="collection">
                        <option value="tracks">Tracks</option>
                        <option value="atmospheres">Atmospheres</option>
                        <option value="oneshots">One-Shots</option>
                    </select>
                </div>
                <button type="submit">Display</button>
                <div>
                    <h3 class="collection-title">{{ this.collection }}</h3>
                    {{# each items}}
                        <article class="item">
                            <div>Name: {{ this.name }}</div>
                            <div>File Names: [ {{ this.filenames }} ]</div>
                            <div>Tags: [ {{ this.tags }} ]</div>
                            <div>ID: {{ this._id }}</div>
                        </article>
                    {{/each}}
                </div>
            </form>
        </div>

        <div class="system-section">
            <h2 class="system-section__title">Update</h2>
            <form action="/system/update" method="POST">
                <div class="input">
                    <label for="id">ID</label>
                    <input type="text" name="id" id="modify__id">
                </div>
                <div class="input">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="input">
                    <label for="filenames">File Names (separate by newline)</label>
                    <textarea name="filenames"></textarea>
                </div>
                <div class="input">
                    <label for="collection">Collection</label>
                    <select name="collection">
                        <option value="tracks">Tracks</option>
                        <option value="atmospheres">Atmospheres</option>
                        <option value="oneshots">One-Shots</option>
                    </select>
                </div>
                <button type="submit">Change</button>
            </form>
        </div>

        <div class="system-section">
            <h2 class="system-section__title">Delete</h2>
            <form action="/system/delete" method="POST">
                <div class="input">
                    <label for="id">ID</label>
                    <input type="text" name="id">
                </div>
                <div class="input">
                    <label for="collection">Collection</label>
                    <select name="collection">
                        <option value="tracks">Tracks</option>
                        <option value="atmospheres">Atmospheres</option>
                        <option value="oneshots">One-Shots</option>
                    </select>
                </div>
                <button type="submit">Remove</button>
            </form>
        </div>
    </div>--}}

    <div class="system-sections">
        <div class="system-section modify">
            <h2 class="system-section__title">Modify<span class="system-section__subtitle"></span></h2>
            <form>
                <div class="input">
                    <label for="collection">Collection</label>
                    <input type="radio" name="collection" value="tracks"> Tracks
                    <input type="radio" name="collection" value="atmospheres"> Atmospheres
                    <input type="radio" name="collection" value="oneshots"> One-shots
                </div>
                <div class="input modify__field track-field atmosphere-field oneshot-field">
                    <label for="id">ID</label>
                    <input type="text" name="id">
                </div>
                <div class="input modify__field track-field atmosphere-field oneshot-field">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="input modify__field track-field atmosphere-field oneshot-field">
                    <label for="tags">Tags (separate by newline)</label>
                    <textarea name="tags"></textarea>
                </div>
                <div class="input modify__field track-field">
                    <label for="filenames">File Names (separate by newline)</label>
                    <textarea name="filenames"></textarea>
                </div>
                <div class="input modify__field atmosphere-field">
                    <label for="tracks">Track IDs (separate by newline)</label>
                    <textarea name="tracks"></textarea>
                </div>
                <div class="input modify__field atmosphere-field">
                    <label for="oneshots">One-Shot IDs (separate by newline)</label>
                    <textarea name="oneshots"></textarea>
                </div>
                <div class="input modify__field oneshot-field">
                    <label for="samples">Samples (separate by newline)</label>
                    <textarea name="samples"></textarea>
                </div>
                <div class="btn-group">
                    <div class="btn btn--dark btn--medium-text btn--rounded modify__btn">
                        <div class="btn__inner">
                            <span>Insert</span>
                        </div>
                    </div>
                    <div class="btn btn--dark btn--medium-text btn--rounded modify__btn-delete">
                        <div class="btn__inner">
                            <span>Delete</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="system-sections">
        <div class="system-section">
            <h2 class="system-section__title">Display</h2>
            <table id="display-table">

                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Filenames</th>
                    <th>Tags</th>
                    <th>Tracks</th>
                    <th>Oneshots</th>
                    <th>Samples</th>
                </thead>

                <tbody>
                    {{!-- Results go here! --}}
                </tbody>

            </table>
        </div>
    </div>
    <script src="/scripts/system.js"></script>
</div>